.bio_content{
    justify-items: center;
    display: grid;
    row-gap: 4rem;
    padding: 4rem 2.5rem 1rem; /*top-bot left-right*/
    text-align: left;
    
}
.bio_content h3{
    font-size: calc(1rem + 1vw);
    justify-self: center;
}

.bio_content p, 
.bio_content ul{
    font-size: calc(1rem + 0.2vw);
    text-align: left;
}



.overview, 
.experience, 
.commitment{
    max-width: 65%;
    text-align: left;
}

.overview ul{
    padding-left: 4vw;
}

.strengths{
    max-width: 80%;
}
.strengths_display{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
}

.strengths_display h4{
    font-size: calc(1rem + 0.2vw);
    font-weight: bold;
}




li{
    margin-bottom: 1em;
}

.projects_overview_about{
    display: grid;
}


/* wip */
@media screen and (max-width: 800px) {
    .strengths_display{
        display: grid;
        grid-template-columns: auto auto;
        /* column-gap: 3rem; */
        /* row-gap: 3rem; */
    }
}

