.bg_home_vid{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 90%;

}

.cert_div{
    width: 100%;
}

.cert_div, 
.mission_container, 
.chat_container{
    padding: 4rem 0rem;
}

.home{
    display: grid;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.home_logo{
    font-size: calc(2rem + 6vw); /* dynamic scale based on width*/
    padding: 0;
    margin: 0;
}

hr{
    width: 10%;
    border: 0.1rem solid var(--text-color);    
}



.mini_title{
    font-size: calc(1rem + 0.5vw); /* dynamic scale based on width*/
    width: 50%;
}

.mission_container, 
.chat_container{
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100%;
    background-color: var(--orange-transparent);
}

.mission_container h2, 
.chat_container h2{
    font-size: calc(2rem + 1vw);
    font-weight: bold;
    color: var(--text-color);    
    margin: 0;
}

.mission_container p, 
.chat_container p{
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: center;
    max-width: 60%;

}

.title_container{
    position: relative;
    width: 100%;
    height: calc(100vh - var(--logobar-height) - var(--nav-bar-height));
    display: grid;
    align-content: center; /* centers contents vertically*/
    justify-items: center; /*aligns title stuff in center horizontally */
    overflow: hidden;
    padding: 0;

}

.title_overlay{
    display: grid;
    color: rgb(70, 70, 70);
    width: 90%;
    justify-items: center;

}



