.bg_home_vid{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 90%;

}

.home{
    display: grid;
    justify-content: center;
    justify-items: center;
}

.home_logo{
    font-size: calc(2rem + 6vw); /* dynamic scale based on width*/
    padding: 0;
    margin: 0;
}

hr{
    width: 10%;
    border: 0.1rem solid var(--text-color);    
    margin: 5rem 0rem;
}



.mini_title{
    font-size: calc(1rem + 0.5vw); /* dynamic scale based on width*/
    /* text-align: center; */
    width: 50%;
}

.mission_container{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin:  0rem;
    margin-top: 6rem;
    padding: 0;
}

.mission_container .mission{
    font-size: calc(2rem + 1vw);
    font-weight: bold;
    color: var(--text-color);    
}

.mission_container .statement{
    color: var(--text-color);
    font-size: calc(1rem + 0.5vw);
    text-align: center;
    max-width: 60%;

}

.title_container{
    position: relative;
    background-color: rgb(214, 214, 214);
    width: 100%;
    height: 60vh;
    display: grid;
    align-content: center; /* centers contents vertically*/
    justify-items: center; /*aligns title stuff in center horizontally */
    overflow: hidden;
    padding: 5rem 0rem;

}

.title_overlay{
    display: grid;
    /* padding: 2%; */
    /* padding-top: 3%; */
    color: rgb(70, 70, 70);
    width: 90%;
    /* z-index: 1; */
    justify-items: center;

}



