.certs_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* background: yellow; */
    justify-content: center;
    max-width: 60%;
    column-gap: 2rem;
    padding: 1rem 0rem;
    /* grid-template-columns: none; */
}

.certifications{
    /* background-color: green; */
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    display: grid;
    justify-items: center;
    justify-content: center;

}

.certifications h2{
    font-size: calc(2rem + 1vw);
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    padding: 0;
    margin-bottom: 3rem;
    color: var(--text-color);

}

.certifications h3{
    font-size: calc(1rem + 0.3vw);
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    width: 60vw;

}

.certifications p{
    font-size: calc(1rem + 0.3vw);
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;

}


.cert{
    border-style: groove;
    border-width: 0.5rem;
    height: 12rem;
    width: 12rem;
    padding: 1rem;
    margin-top: 3rem;
}

.cert .cert_desc{
    text-align: center;
    font-size: 1rem;
}

.cert .cert_abbr{
    font-size: 4rem;
}

