.footer_container{
    background-color: black;
    display: grid;
    justify-items: left;
    padding: 4rem 4rem;
    margin-top: 3rem;

}

.footer_container p{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}


.linked_in img{
    height: calc(1rem + 0.5vw);
}