.bg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 50%;

}

.logo{
    border: 1px solid black;
    background-color: white;
    margin: 1rem;
    padding: 0rem 0.2rem;
    font-size: calc(1.5rem + 1vw);
    position: absolute;
    float: left;
    /* width: 7rem; */
    /* top: 4%; */
    /* left: 2%; */
}

.top_container{
    display: flex;
    height: 10rem;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}

.top_container img{
    margin: 0;
    padding: 0;
}
