.bg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 50%;

}

.logo{
    border: 1px solid black;
    background-color: white;
    margin-left: 1em;
    padding: 0em 0.2em;
    font-size: 3em;
    position: absolute;
    /* width: 7em; */
    /* top: 4%; */
    /* left: 2%; */
}

.top_container{
    display: flex;
    height: 10em;
    width: 100%;
    padding: 0;
    margin: 0;
}

.top_container img{
    margin: 0;
    padding: 0;
}
