/*custom color variables*/
:root{
    --nav-primary: rgb(65, 168, 168);
    --nav-button-hover: rgb(174, 233, 233);
}

nav {
    background-color: var(--nav-primary);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav_button{
    padding: 20px;
    color: black;
}

.nav_button:hover{
    background-color: var(--nav-button-hover);
}